/* Просто сделаем одинаковые отступы для всех */
header, main, footer {
    padding-left: 20px;
    padding-right: 20px;
}

header {
    padding-top: 20px;
    padding-bottom: 0;
}

main {
    padding-top: 0;
    padding-bottom: 30px;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

